/* Basic reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 1000px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffffff;
}

.container{
    width: 100%;
    min-height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:1rem 5rem;
    overflow-x: hidden;
    gap: 10%;
}

nav{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding:0rem 1.5rem;  
}

.logo{
    width: 20%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0rem 1.5rem;
}

.logo h3{
    font-size: 20px;
    font-weight: bold;
}

.logo h3:hover{
    color: #565656;
}

.tabs{
    width: 65%;
    height: 40px;
    display: flex;
    padding:0rem 1.5rem;  
}

ul{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0rem 1.5rem;
}

.tabs ul li{
    list-style-type: none;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(166, 159, 159);

}

.tabs ul li:hover{
    color: black;
}
.cart{
    width: 15%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:0rem 1.5rem;
}

.cart>img{
    height: 38px;
    width: 28px;
}

.cart .badge{
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color:  rgb(166, 159, 159);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/coffee-mug-background.jpg');
    background-size: 100% 100%; 
    background-repeat: no-repeat;   
    margin: 1rem 0rem;
    position: relative;
}

.background{ 
    width: 100%;
    height: 550px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.content{
    width: 100%;
    height: 550px;
    display: flex;
    position:absolute;
    padding:1rem 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    
}

.content h6{
    width: 30%;
    height: 30px;
    display: flex;
    padding:1rem 2rem;
    justify-content: center;
    align-items: center;
     font-size: 10px;
}
.content h1{
    width: 35%;
    height: 65px;
    display: flex;
    padding:1rem 2rem;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family:/*system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',*/ Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content h1 span{
    font-family:cursive;
    color: rgb(211, 118, 57);
    font-size: 65px;
    margin: 0 0px 0 15px;

}
.content p{
    width: 100%;
    height: 50px;
    display: flex;
    padding:1rem 2rem;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.content a{
    width: 23%;
    height: 50px;
    display: flex;
    padding:1rem 1rem;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 50px;
}

.content a:hover{
    padding:1.5rem 1.5rem;
    background-color: rgb(211, 118, 57);
    font-size: 15px;
    border-radius: 50px;
}

/* About Section */

.about{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 3rem 0rem;
}

.about-content{
    width: 90%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin: 2rem 0rem;

}

.about-heading{
    width: 60%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    text-align: center; 
    line-height: 35px;
    padding: 20px 0px;

}

.about-content p{
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    text-align: center; 
    line-height: 20px;
    padding: 20px 0px;

}

.about-content a{
    width: 12.5%;
    height:20px;
    display: flex;
    align-items: center;
    justify-content: end; 
    text-decoration: none;
    color: rgb(211, 118, 57); 
    border-bottom: 1px solid rgb(211, 118, 57);
    padding: 20px 0px 10px 0px;
    
    
}

.feature{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 1rem 0rem;
}

.feature-content{
    width: 90%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    margin: 2rem 0rem;
}

.feature-heading,
.product-heading
{
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row;
    margin: 2rem 0rem;

}
.right-line,.left-line{
    text-align: center;
    width: 50px;
    height: .2vh;
    border-top: 1px solid rgb(167, 167, 167);
}
h5{
    width: 50%;
    height: 2vh;
    color: #878585;
    text-align: center;
}

.feature-cards{
    width: 80%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 2rem 0rem;
    gap: 5%;

}

.card-row{
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    gap: 20px;
}

.feature-cards .card-1 , .feature-cards .card-2{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;

}

.card-1 img , .card-2 img{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;  


}
.feature-cards .card-1 p,.feature-cards .card-2 p,
.card-row .card-1 p,.card-row .card-2 p{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  

}
.feature-cards .card-1 h3,.feature-cards .card-2 h3,
.card-row .card-1 h3,.card-row .card-2 h3{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 1.2em;

}

.product{
    min-width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
  

}

.product-content{
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
 
}

.product-cards{
    width: 95%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 20px;


}

.card-row .card-1 , .card-row .card-2{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
}

.coffee-magz{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    margin: 3rem 0rem;
}

.magz-heading{
    width: 52%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row;
    margin: 1rem 0rem;
}

.magz-content{
    width: 85%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.magz-left-content{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    margin: 1rem 0rem;
   padding: 3rem ;
   gap: 20px;
}

.magz-left-content h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: capitalize;
  font-size: 35px;
  color: #393939;
}


.magz-left-content a{
    width: 200px;
    height: 50px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
}


.magz-right-content{
    width: 40%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 3rem 0rem;
}

.magz-images{
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    gap: 5px;

}

.magz-images img{
  width: 100%;
  height: 300px;
}
.row-img{
    width: 80%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.row-img img{
    width: 100%;
  height: 140px;
}


.parallex-background{
    height: 340px;
    width: 112%;
    margin-bottom: 100px;
    background-image: url('./images/parallex-background.jpg');
    background-position: 50% 50%; 
     background-size: cover;
    background-attachment: fixed; 
}

.testimonial{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 1rem 0rem;
}

.testi-heading
{
    width: 47%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: row;
    margin: 2rem 0rem;

}

.testi-content{
    width: 90%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    margin: 2rem 0rem;
}

.testi-cards{
    width: 80%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 2rem 0rem;
    gap: 5%;

}

.testi-cards .card-1,
.testi-cards .card-2{
    width: 33%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
    margin: 2rem 2rem;
    /* gap: 5%; */

}


.testi-cards .card-1 img ,
.testi-cards .card-2 img{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.testi-cards .card-1 p,
.testi-cards .card-2 p
{
    height: 100px;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center;  */
    /* padding: .5rem; */
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: lighter;
}
.testi-cards .card-1 h3,.testi-cards .card-2 h3
{
    height: 120px;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center;   */
    font-size: 1.2rem;
    line-height: 30px;
    text-transform: capitalize;
    /* padding: .5rem; */
    word-spacing: 6px;
    color: #565656;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.testi-cards .card-1 h6,
.testi-cards .card-2 h6
{
    height: 30px;
    width: 100%; 
    /* padding:0rem 1rem; */
    font-size: .7rem;
    line-height: 30px;
    color: #878585;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}